@font-face {
    font-family: 'CursedTimer';
    src: url('/CursedTimer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background: #1B244A;
    color: #EEEEEE;
}

h3 {
    font-size: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.score {
    margin-top: -20px;
    margin-bottom: 25px;
    font-family: 'CursedTimer', sans-serif;
    font-size: 90px;
    width: 140px;
    height: 120px;
    color: #F94F6D;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'CursedTimer', sans-serif;
    height: 45px;
    width: 45px;
    color: #9AABD8;
    background: none;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 0 2px 0 2px;
}
